<div class="container">
  <div class="row g-3">
    <div class="col-sm-12 col-md-6">
      <img src="assets/newspaper.png" alt="Imagen de un periodico que representa una noticia"> 
    </div>
    <div class="col-sm-12 col-md-6"> 
      <h1 style="color: white">Portal de detección de FakeNews</h1>
      <p class="mt-4">
        El propósito de este sitio web es proporcionar a los usuarios una herramienta confiable 
        basada en inteligencia artificial para la detección de noticias falsas. 
        Mediante un modelo avanzado de procesamiento de lenguaje natural, el sistema analiza el 
        contenido de los artículos, identifica patrones de desinformación y evalúa la credibilidad 
        de las fuentes. De esta manera, el sitio ayuda a los usuarios a diferenciar entre información 
        verificada y potencialmente engañosa, fomentando un consumo de noticias más informado y seguro.
      </p>
      <div class="button-container">
        <button class="btn btn-light" routerLink="/predict">Clasificar noticias</button>
        <button class="btn btn-light" routerLink="/retrain">Reentrenar el modelo</button>
      </div>
    </div>
  </div>
</div>
